.App {
    text-align: center;
    margin-top: 15%;
}

div.container {
    padding: 40px 300px 40px 300px;
}

/* .Title {
    font-size: 42px;
    margin: 20px;
} */

/* .Clock {
    font-size: 26px;
    display: inline;
    margin: 10px;
} */